# Dependencies
node_modules/

# Next.js
.next/
.next/cache/
*.pack.gz

# Environment Variables
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Build files
*.node
*.node.d.ts
*.tgz